/* General Reset and Base Styles-Made by yours truly Johnny Quinn */
body {
    background-color: #252525;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}

header {
}

.header-content {
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    font-size: 1.2em;
    /* keep nav bar on top */
    z-index: 100;
}
nav {
    /* keep all nav links next to each other */
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 50px;
    /* put links on right side of nav bar */
    justify-content: space-between;
    max-width: 1600px;
}

nav ul {
    list-style: none;
}
.navbar a, nav > a {
    text-decoration: none;
    color: white;
}
.navbar li {
    float: left;
    width: 8em;
    text-align: center;
}
/* Styles for the dropdown menu */
.dropdown-menu a {
    display: block;
    padding: 0.2em 10px;
}
.dropdown-menu li {
    display: block;
    float: none;
    border: 0;
}
.dropdown-menu {
    display: none;
    position: absolute;
    padding: 0.5em 0 1em 0;
    border: solid 1px black;
}
nav li:hover ul {
    display: block;
}
nav li li a:hover {
    font-weight: bold;
    padding: 0.2em 5px;
    cursor: pointer;
}

main {
}

h1, h2, h3, h4, h5, h6 {
}

p {
}

footer {
}

.footer-content {
}


.center {
}

.text-bold {
}

.text-light {
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* 
    Styles for tablets and small devices 
    This is to be done later, this is just a template at the moment
    */
}

@media screen and (max-width: 480px) {
    /* Styles for mobile devices */
}
