/* General Reset and Base Styles-Made by yours truly Johnny Quinn */
body {
}

header {
}

.header-content {
}

nav ul {
    list-style: none;
}
.navbar a {
    color: black;
    text-decoration: none;
}
.navbar li {
    float: left;
    width: 10em;
    text-align: center;
    background-color: white;
}
/* Styles for the dropdown menu */
.dropdown-menu a {
    display: block;
    padding: 0.2em 10px;
}
.dropdown-menu li {
    display: block;
    float: none;
    background: white;
    border: 0;
}
.dropdown-menu {
    display: none;
    position: absolute;
    padding: 0.5em 0 1em 0;
    border: solid 1px black;
}
nav li:hover ul {
    display: block;
}
nav li li a:hover {
    font-weight: bold;
    padding: 0.2em 5px;
    cursor: pointer;
}

main {
}

h1, h2, h3, h4, h5, h6 {
}

p {
}

footer {
}

.footer-content {
}


.center {
}

.text-bold {
}

.text-light {
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* 
    Styles for tablets and small devices 
    This is to be done later, this is just a template at the moment
    */
}

@media screen and (max-width: 480px) {
    /* Styles for mobile devices */
}
